/* src/styles/index.scss */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* 커스텀 스타일을 여기에 추가할 수 있습니다. */
#root {
    @apply relative min-w-[100vw] max-w-[100vw] w-screen h-screen max-h-[100vh] p-0 m-0 bg-gray-100;
}

.flex-center {
    @apply items-center justify-center;
}

.area-active {
    height: 100%;
    width: 100%;
    background: linear-gradient(90deg, #b91c1c 50%, transparent 50%), 
                linear-gradient(90deg, #b91c1c 50%, transparent 50%), 
                linear-gradient(0deg, #b91c1c 50%, transparent 50%), 
                linear-gradient(0deg, #b91c1c 50%, transparent 50%);
    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
    background-size: 16px 4px, 16px 4px, 4px 16px, 4px 16px;
    background-position: 0% 0%, 100% 100%, 0% 100%, 100% 0px;
    border-radius: 5px;
    padding: 10px;
    animation: dash 8s linear infinite;
}

@keyframes dash {
    to {
        background-position: 100% 0%, 0% 100%, 0% 0%, 100% 100%;
    }
}